black
colorama
func_timeout
geopandas
GitPython
google_auth_oauthlib
google-api-python-client
google-auth
ipykernel
matplotlib
mypy
numpy
openpyxl
pandas
pandas-stubs
pillow
pip-tools
pipwin
pyogrio
pytest
requests
ruamel.yaml
seaborn
types-requests
wheel